@tailwind base;
@import "nprogress/nprogress.css";

#nprogress .spinner {
  display: none;
}

#nprogress .bar {
  background-color: theme('colors.akairosu.blue');
  height: 3px;
}

.gradient-mask {
  mask-image: linear-gradient(105deg, #18181b 50%, transparent 100%);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.akairosu.blue') transparent;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  height: 12px;
  width: 8px;
  scroll-behavior: smooth;
  
  /* background: transparent; */
}

::-webkit-scrollbar-thumb {
  background: theme('colors.akairosu.blue');
  /* -webkit-border-radius: 1ex; */
}

@tailwind components;
@tailwind utilities;