@tailwind base;
@tailwind components;
@tailwind utilities;
@import "nprogress/nprogress.css";

#nprogress .spinner {
  display: none;
}

#nprogress .bar {
  background-color: theme('colors.akairosu.blue');
  height: 3px;
}